.RadTreeView_SalesBlack,
.RadTreeView_SalesBlack a.rtIn,
.RadTreeView_SalesBlack .rtEdit .rtIn input
{
	color: #d7d7d7;
	font: 12px/23px "Segoe UI", Arial, sans-serif;
}

.RadTreeView_SalesBlack
{
	position: relative;
}

.RadTreeView_SalesBlack .rtUL .rtLI
{
	padding-right: 10px;
}

.RadTreeView_SalesBlack .rtUL .rtUL .rtLI
{
	padding-right: 0;
}

div.RadTreeView_SalesBlack .rtPlus, 
div.RadTreeView_SalesBlack .rtMinus
{
	display: none;
}

.RadTreeView_SalesBlack .rtUL .rtIn,
.RadTreeView_SalesBlack .rtUL .rtHover .rtIn,
.RadTreeView_SalesBlack .rtUL .rtSelected .rtIn
{
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
	width: 100%;
	outline: 0;
}

.RadTreeView_SalesBlack .rtLink .rtImage
{
	border: 0;
	width: 23px;
	height: 23px;
}

.RadTreeView_SalesBlack .rtInner
{
	padding-top: 3px;
}
*+html .RadTreeView_SalesBlack .rtInner { padding-bottom: 1px; }
* html .RadTreeView_SalesBlack .rtInner { padding-bottom: 1px; }

.RadTreeView_SalesBlack .rtLink,
.RadTreeView_SalesBlack .rtInner
{
	background-image: url('TreeView/NodeStates.png');
	background-repeat: no-repeat;
	line-height: 17px;
	outline: 0;
	cursor: pointer;
}

.RadTreeView_SalesBlack .rtLink,
.RadTreeView_SalesBlack .rtText,
.RadTreeView_SalesBlack .rtInner
{
	vertical-align: top;
	display: block;
	text-decoration: none;
}
/* IE6 hacks */
* html div.RadTreeView_SalesBlack .rtUL .rtUL .rtInner { width: 205px; }
/* /IE6 hacks */

.RadTreeView_SalesBlack .rtLink { background-position: 0 0; padding-left: 5px; }
.RadTreeView_SalesBlack .rtInner { background-position: 100% 0; }
.RadTreeView_SalesBlack .rtHover .rtLink { background-position: 0 -30px; }
.RadTreeView_SalesBlack .rtHover .rtInner { background-position: 100% -30px; }
.RadTreeView_SalesBlack .rtExpanded .rtLink { background-position: 0 -60px; }
.RadTreeView_SalesBlack .rtExpanded .rtInner { background-position: 100% -60px; }

.RadTreeView_SalesBlack .rtText
{
	display: inline-block;
	color: #d7d7d7;
	line-height: 23px;
	padding-left: 3px;
}

.RadTreeView_SalesBlack .rtHover .rtText
{
	color: #8dc127;
}

.RadTreeView_SalesBlack .rtUL .rtUL .rtInner
{
	padding-top: 2px;
	overflow: hidden;
}
*+html .RadTreeView_SalesBlack .rtUL .rtUL .rtInner { padding-top: 3px; padding-bottom: 0; }
* html .RadTreeView_SalesBlack .rtUL .rtUL .rtInner { padding-top: 3px; padding-bottom: 0; }

.RadTreeView_SalesBlack .rtUL .rtUL .rtLink,
.RadTreeView_SalesBlack .rtUL .rtUL .rtInner
{
	background: #050505;
	line-height: 17px;
}

.RadTreeView_SalesBlack .rtUL .rtUL .rtHover .rtLink { background-image: url('TreeView/NodeStates.png'); background-position: 0 -90px; }
.RadTreeView_SalesBlack .rtUL .rtUL .rtHover .rtInner { background-image: url('TreeView/NodeStates.png'); background-position: 100% -90px; }

.RadTreeView_SalesBlack .rtUL .rtUL .rtText
{
	line-height: 18px;
}

.RadTreeView_SalesBlack .rtUL .rtUL .rtImage
{
	width: 18px;
	height: 18px;
}

div.productsTreeView .rtLines .rtLI .rtTop,
div.productsTreeView .rtLines .rtLI .rtMid,
div.productsTreeView .rtLines .rtLI .rtBot
{
	padding-left: 10px;
}

.productsTreeView .rtLines .rtUL .rtLI .rtTop,
.productsTreeView .rtLines .rtUL .rtLI .rtMid,
.productsTreeView .rtLines .rtUL .rtLI .rtBot
{
	padding-left: 20px;
}

.RadTreeView_SalesBlack .rtChecked,
.RadTreeView_SalesBlack .rtUnchecked,
.RadTreeView_SalesBlack .rtIndeterminate
{
	background-image: url('TreeView/TriState.png');
}

.RadTreeView_SalesBlack .rtHover .rtIn
{
	color: #9eda29;
}

.RadTreeView_SalesBlack .rtSelected .rtIn
{
	color: #fff;
}

.RadTreeView_SalesBlack .rtSelected .rtLoadingBefore,
.RadTreeView_SalesBlack .rtSelected .rtLoadingAfter,
.RadTreeView_SalesBlack .rtSelected .rtLoadingBelow
{
	color: #333;
}

.RadTreeView_SalesBlack_disabled .rtIn,
.RadTreeView_SalesBlack .rtDisabled .rtIn
{
	color: #ccc;
}


/* <node lines> */

div.productsTreeView .rtLines .rtLI .rtTop,
div.productsTreeView .rtLines .rtLI .rtMid,
div.productsTreeView .rtLines .rtLI .rtBot,
div.productsTreeView .rtLines .rtLI
{
	background-image: none;
}

.RadTreeView_SalesBlack .rtLines .rtUL .rtLI,
.RadTreeView_SalesBlack .rtLines .rtUL .rtFirst .rtUL { background-image: url('TreeView/NodeSpan.png'); }

.RadTreeView_SalesBlack .rtLines .rtUL .rtFirst,
.RadTreeView_SalesBlack .rtLines .rtUL .rtFirst .rtUL { background-image: url('TreeView/FirstNodeSpan.png'); }
.RadTreeView_SalesBlack .rtLines .rtUL .rtLast,
.RadTreeView_SalesBlack .rtLines .rtUL .rtLast .rtUL { background-image: none; }

.RadTreeView_SalesBlack .rtLines .rtUL .rtLI .rtTop { background-image:url('TreeView/TopLine.png'); }
.RadTreeView_SalesBlack .rtLines .rtUL .rtLI .rtMid { background-image:url('TreeView/MiddleLine.png'); }
.RadTreeView_SalesBlack .rtLines .rtUL .rtLI .rtBot { background-image:url('TreeView/BottomLine.png'); background-repeat: no-repeat; }
.RadTreeView_SalesBlack .rtLines .rtLast .rtUL .rtTop { background-image:url('TreeView/SingleLine.png'); }

/* </node lines> */
