<?xml version="1.0"?><!-- 
    The purpose of this file is to block access to the template files, that are not meant
    to be directly requested.
--><configuration>
  <system.web>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler" validate="true"/>
    <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler" name="AspxHandler"/>
    <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers>
  </system.webServer>
</configuration>